USE [Appz]
GO
/****** Object:  StoredProcedure [dbo].[Suppressor - 3RD Party Mailing]    Script Date: 19/08/2025 08:55:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROC [dbo].[Suppressor - 3RD Party Mailing]

@Start VARCHAR(12)
,@End VARCHAR(12)

AS

--===================================================================================================================================
-- CREATE TEMP TABLE
--===================================================================================================================================

CREATE TABLE #Results 
(
	Client NVARCHAR(MAX),
	Customer NVARCHAR(MAX),
	Name NVARCHAR(MAX),
	Email NVARCHAR(MAX),
	Ref_No NVARCHAR(MAX),
	Opt_Out_Date DATE
)

--===================================================================================================================================
-- DECLARE VARIABLES
--===================================================================================================================================

DECLARE @Client VARCHAR(28)
DECLARE @Customer VARCHAR(28)
DECLARE @Client_ID INT
DECLARE @Server VARCHAR(MAX)
DECLARE @Database VARCHAR(MAX)
DECLARE @Table VARCHAR(MAX)
DECLARE @Ref_No VARCHAR(28)
DECLARE @SQL VARCHAR(MAX)
DECLARE @DT_Created VARCHAR(12)

--===================================================================================================================================
-- DECLARE CURSOR
--===================================================================================================================================

DECLARE DB_Cursor CURSOR FOR

SELECT 
			Client
			,Customer
			,Client_ID
			,CAST(DT_Created as date)
FROM 
			Suppressor_Details
WHERE 
			reason = 'MAILCHANGE'
			AND (OG_Rent = 1 AND New_Rent = 0)
			AND CAST(DT_Created as date) >= @Start
			AND CAST(DT_Created as date) < = @End

OPEN DB_Cursor
FETCH NEXT FROM DB_Cursor INTO @Client, @Customer, @Client_ID, @DT_Created


WHILE @@FETCH_STATUS = 0
BEGIN

--===================================================================================================================================
-- GET DATABASE DETAILS
--===================================================================================================================================

SELECT
			@Server = [Server]
			,@Database = [Database]
FROM 
			Suppressor_Clients
WHERE 
			Suppressor_Clients.ID = @Client_ID

--===================================================================================================================================
-- CONSTRUCT TABLE NAME
--===================================================================================================================================

SET @Table = '[' + @Server + '].[' + @Database + '].dbo.'

--===================================================================================================================================
-- CONSTRUCT REF_NO QUERY
--===================================================================================================================================

SET @SQL = '

INSERT INTO #Results 
SELECT
''' + @Client + '''
,''' + @Customer + '''
,(
	SELECT
				ISNULL(RTRIM(title) + '' '', '''') + ISNULL(RTRIM(initials) + '' '', '''') + ISNULL(RTRIM(full_name), '''')
	FROM
				' + @Table + 'cust
	WHERE 
				cust.customer = ''' + @Customer + '''
)
,(SELECT RTRIM(ISNULL(email_address, '''')) FROM ' + @Table + 'cust WHERE cust.customer = ''' + @Customer + ''')
,(SELECT TOP 1 sord.ref_no FROM ' + @Table + 'sord WHERE sord.customer = ''' + @Customer + ''')
,''' + @DT_Created + '''

'


--===================================================================================================================================
-- EXECUTE QUERY TO GET REF_NO
--===================================================================================================================================

PRINT (@SQL)
EXECUTE (@SQL)

--===================================================================================================================================
-- Insert the results into the temporary table
--===================================================================================================================================

FETCH NEXT FROM DB_Cursor INTO @Client, @Customer, @Client_ID, @DT_Created
END

CLOSE DB_Cursor
DEALLOCATE DB_Cursor

--===================================================================================================================================
-- Select the results
--===================================================================================================================================

SELECT * FROM #Results

--===================================================================================================================================
-- Drop the temporary table
--===================================================================================================================================

DROP TABLE #Results


