USE [Appz]
GO
/****** Object:  StoredProcedure [dbo].[Suppressor_Get_Details]    Script Date: 19/08/2025 08:56:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO



ALTER PROC [dbo].[Suppressor_Get_Details]

@Customer VARCHAR(24)
,@Client VARCHAR(255)

AS

--=================================================================================================================================
-- DECLARE VARIABLES
--=================================================================================================================================

DECLARE @FROM_CLAUSE VARCHAR(MAX)
DECLARE @Site VARCHAR(12)
DECLARE @SQL VARCHAR(MAX)

SET @Site = (SELECT [Site] FROM Suppressor_Clients WHERE [Description] = @Client)

--=================================================================================================================================
-- SET SQL FROM CLAUSE
--=================================================================================================================================

SET @FROM_CLAUSE =
(
SELECT
'FROM [' + RTRIM([Server]) + '].[' + RTRIM([Database]) + '].dbo.cust'
FROM 
Suppressor_Clients
WHERE 
[Description] = @Client
)

--=================================================================================================================================
-- SET SQL SELECT CLAUSE
--=================================================================================================================================

SET @SQL =
'
SELECT 
ISNULL(RTRIM(customer),''No Customer'') as Customer
,ISNULL(RTRIM(initials) + '' '', '''') + ISNULL(RTRIM(full_name), '''') as [Name]
,ISNULL(RTRIM([address]), '''') as [Address]
,ISNULL(RTRIM([city]), '''') as [City]
,ISNULL(RTRIM([postcode]), '''') as [Postcode]
,ISNULL(RTRIM([email_address]), '''') as [Email]
,ISNULL(RTRIM([phone_day]), '''') as [Telephone]
'
+ @FROM_CLAUSE + 
'
WHERE 
level_1 = ''' + @Site + '''
AND customer = ''' + @Customer + '''
'
--=================================================================================================================================
-- PRINT & EXECUTE SQL
--=================================================================================================================================

PRINT (@SQL)
EXECUTE (@SQL)

