USE [Appz]
GO
/****** Object:  StoredProcedure [dbo].[Suppressor_Insert_Details]    Script Date: 19/08/2025 08:57:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO



ALTER PROC [dbo].[Suppressor_Insert_Details]

@tKey VARCHAR(255)
,@Client VARCHAR(255)
,@Customer VARCHAR(48)
,@Name VARCHAR(255)
,@Address VARCHAR(500)
,@City VARCHAR(255)
,@Postcode VARCHAR(24)
,@Email VARCHAR(48)
,@Telephone VARCHAR(48)
,@Reason VARCHAR(255)
,@User VARCHAR(48)

AS

--===========================================================================================================================================================--
-- DECLARE VARIABLES
--===========================================================================================================================================================--


DECLARE @ReasonCode VARCHAR(12)
DECLARE @FROM_CLAUSE VARCHAR(MAX)
DECLARE @Site VARCHAR(12)
DECLARE @SQL_GET NVARCHAR(MAX)
DECLARE @SQL_UPDATE NVARCHAR(MAX)
DECLARE @Client_ID VARCHAR(3)
DECLARE @OG_No_Promote VARCHAR(1)
DECLARE @OG_Mail VARCHAR(1)
DECLARE @OG_Email VARCHAR(1)
DECLARE @OG_Phone VARCHAR(1)
DECLARE @OG_SMS VARCHAR(1)
DECLARE @OG_Survey VARCHAR(1)
DECLARE @OG_Rent VARCHAR(1)
DECLARE @OG_GDPR_Compliant VARCHAR(1)


IF LEN(@Reason) > 4
	BEGIN 
		SET @ReasonCode = (SELECT TOP 1 [Reason_Code] FROM [Suppressor_Reasons] WHERE [Description] = @Reason)
	END
ELSE
	BEGIN 
		SET @ReasonCode = @Reason
	END


SET @Customer = CASE WHEN @Customer = '' THEN NULL ELSE @Customer END
SET	@Address = CASE WHEN @Address = '' THEN NULL ELSE @Address END 
SET @City = CASE WHEN @City = '' THEN NULL ELSE @City END 
SET	@Postcode = CASE WHEN @Postcode = '' THEN NULL ELSE @Postcode END 
SET	@Email = CASE WHEN @Email = '' THEN NULL ELSE @Email END 
SET	@Telephone = CASE WHEN @Telephone = '' THEN NULL ELSE @Telephone END 

--===========================================================================================================================================================--
-- SET FROM CLAUSE
--===========================================================================================================================================================--

SET @Site = (SELECT TOP 1 [Site] FROM Suppressor_Clients WHERE [Description] = @Client)
SET @Client_ID = (SELECT TOP 1 [ID] FROM Suppressor_Clients WHERE [Description] = @Client)

SET @FROM_CLAUSE =
(
SELECT  TOP 1
			'[' + RTRIM([Server]) + '].[' + RTRIM([Database]) + '].dbo.'
FROM 
			Suppressor_Clients
WHERE 
			[Description] = @Client
)

--===========================================================================================================================================================--
-- CREATE TEMP TABLE
--===========================================================================================================================================================--

TRUNCATE TABLE Suppressor_Output_Flags

--===========================================================================================================================================================--
-- GET GDPR FLAG DATA
--===========================================================================================================================================================--

SET @SQL_GET = '

INSERT INTO Suppressor_Output_Flags

SELECT 
			RTRIM(no_promote)
			,RTRIM(mail)
			,RTRIM(email)
			,RTRIM(phone)
			,RTRIM(sms)
			,RTRIM(survey)
			,RTRIM(rent)
			,RTRIM(gdpr_compliant)
FROM 
			' + @FROM_CLAUSE + 'cust_gdpr WITH(NOLOCK)
WHERE
			customer = ''' + @Customer + '''

INSERT INTO ' + @FROM_CLAUSE + 'cust_hist VALUES
(
	''' + @tKey + '''
	,''!''
	,GETDATE()
	,''' + @User + '''
	,GETDATE()
	,''' + @Site + '''
	,''GROUP''
	,CAST(GETDATE() as date)
	,CAST(GETDATE() as time)
	,''85''
	,''Suppressor - No Mail Recorded''
	,''' + @Customer + '''
	,NULL
	,NULL
	,''SUP''
	,NULL
	,NULL
	,NULL
	,NULL
	,NULL
	,NULL
	,NULL
	,NULL
	,''' + @User + '''
	,''This customer has been recorded as a No Mail through the suppressor application.''
)

'


PRINT (@SQL_GET)
EXECUTE (@SQL_GET)

SET	@OG_No_Promote = (SELECT TOP 1 OG_No_Promote FROM Suppressor_Output_Flags)
SET	@OG_Mail = (SELECT TOP 1 OG_Mail FROM Suppressor_Output_Flags) 
SET	@OG_Email = (SELECT TOP 1 OG_Email FROM Suppressor_Output_Flags) 
SET	@OG_Phone = (SELECT TOP 1 OG_Phone FROM Suppressor_Output_Flags) 
SET	@OG_SMS = (SELECT TOP 1 OG_SMS FROM Suppressor_Output_Flags) 
SET	@OG_Survey = (SELECT TOP 1 OG_Survey FROM Suppressor_Output_Flags) 
SET	@OG_Rent = (SELECT TOP 1 OG_Rent FROM Suppressor_Output_Flags) 
SET	@OG_GDPR_Compliant = (SELECT TOP 1 OG_gdpr_Compliant FROM Suppressor_Output_Flags) 

--DROP TABLE OUTPUT_FLAGS

--===========================================================================================================================================================--
-- INSERT THE DATA
--===========================================================================================================================================================--

IF NOT EXISTS (SELECT Customer FROM Suppressor_Details WHERE Customer = @Customer AND Customer <> '' AND Client = @Client AND Reason <> 'MAILCHANGE') 
INSERT INTO Suppressor_Details VALUES 
(
	@tKey														 -- BATCH NUMBER
	,GETDATE()													 -- DATE CREATED
	,@Client_ID													 -- CLIENT ID
	,@Client													 -- CLIENT
	,@Customer													 -- CUSTOMER
	,CASE WHEN ISNULL(@Customer, '') = '' THEN 0 ELSE 1 END		 -- CUSTOMER FLAG
	,REPLACE(REPLACE(@Name,CHAR(13),''),CHAR(13),'')			 -- NAME
	,REPLACE(REPLACE(@Address,CHAR(13),''),CHAR(13),'')			 -- ADDRESS
	,REPLACE(REPLACE(@City,CHAR(13),''),CHAR(13),'')			 -- CITY
	,REPLACE(REPLACE(@Postcode,CHAR(13),''),CHAR(13),'')		 -- POSTCODE
	,REPLACE(REPLACE(@Email,CHAR(13),''),CHAR(13),'')			 -- EMAIL ADDRESS
	,REPLACE(REPLACE(@Telephone,CHAR(13),''),CHAR(13),'')		 -- TELEPHONE
	,@ReasonCode												 -- REASON CODE
	,@OG_No_Promote												 -- OLD NO PROMOTE
	,@OG_Mail													 -- OLD MAIL
	,@OG_Email													 -- OLD EMAIL
	,@OG_Phone													 -- OLD PHONE
	,@OG_SMS													 -- OLD SMS
	,@OG_Survey													 -- OLD SURVEY
	,@OG_Rent													 -- OLD RENT
	,@OG_GDPR_Compliant											 -- OLD GDPR COMPLIANT
	,CASE WHEN ISNULL(@Customer, '') = '' THEN NULL ELSE '1' END -- NEW NO PROMOTE   
	,CASE WHEN ISNULL(@Customer, '') = '' THEN NULL ELSE '0' END -- NEW MAIL            
	,CASE WHEN ISNULL(@Customer, '') = '' THEN NULL ELSE '0' END -- NEW EMAIL            
	,CASE WHEN ISNULL(@Customer, '') = '' THEN NULL ELSE '0' END -- NEW PHONE         
	,CASE WHEN ISNULL(@Customer, '') = '' THEN NULL ELSE '0' END -- NEW SMS              
	,CASE WHEN ISNULL(@Customer, '') = '' THEN NULL ELSE '0' END -- NEW SURVEY          
	,CASE WHEN ISNULL(@Customer, '') = '' THEN NULL ELSE '0' END -- NEW RENT           
	,CASE WHEN ISNULL(@Customer, '') = '' THEN NULL ELSE '1' END -- NEW GDPR COMPLIANT
	,@User														 -- USER CREATED
)
