USE [Appz]
GO
/****** Object:  StoredProcedure [dbo].[Appz - Insert_Update_Session]    Script Date: 19/08/2025 08:59:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROC [dbo].[Appz - Insert_Update_Session]

@Session_Id VARCHAR(255)
,@Domain_User VARCHAR(48)
,@Application VARCHAR(255)

AS

DECLARE @SQL VARCHAR(MAX) = ''

--===================================================================================================
-- CHECK IF RECORD EXISTS
--===================================================================================================

SET @SQL = @SQL +
'
IF EXISTS (SELECT Session_Id FROM [' + @Application + '_Sessions] WHERE Session_Id = ''' + @Session_Id + ''')
'
--===================================================================================================
-- UPDATE IF RECORD EXISTS
--===================================================================================================

SET @SQL = @SQL +
'
BEGIN

UPDATE 
			[' + @Application + '_Sessions]
SET 
			Last_Updated = GETDATE()
WHERE 
			Session_Id = ''' + @Session_Id + '''

END
'

--===================================================================================================
-- INSERT IF RECORD DOES NOT EXIST
--===================================================================================================

SET @SQL = @SQL +
'
ELSE

DELETE [' + @Application + '_Sessions] WHERE Last_Updated < GETDATE() - 0.5

INSERT INTO [' + @Application + '_Sessions] VALUES
(
''' + @Session_Id + '''  -- SESSION ID
,''' + @Domain_User + ''' -- DOMAIN USER
,GETDATE() -- SESSION START
,GETDATE() -- LAST UPDATED
)
'

--======================================================================
-- PRINT & EXECUTE SQL
--======================================================================

PRINT (@SQL)
EXECUTE (@SQL)