USE [Appz]
GO
/****** Object:  StoredProcedure [dbo].[Appz - Insert_LogBook]    Script Date: 19/08/2025 08:59:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO


ALTER PROC [dbo].[Appz - Insert_LogBook]

@tKey VARCHAR(255)
,@Session_Id VARCHAR(255)
,@Domain_User VARCHAR(48)
,@User_Created VARCHAR(48)
,@Form VARCHAR(255)
,@Event VARCHAR(255)
,@Notes VARCHAR(4000)
,@Application VARCHAR(255)


AS

DECLARE @SQL VARCHAR(MAX) = ''

--======================================================================
-- UPDATE SESSION
--======================================================================

SET @SQL = @SQL +
'

UPDATE 
		[' + @Application + '_Sessions]
SET 
		Last_Updated = GETDATE()
WHERE 
		Session_Id = ''' + @Session_Id + '''
'

--======================================================================
-- INSERT LOGBOOK RECORD
--======================================================================

SET @SQL = @SQL +
'
INSERT INTO [' + @Application + '_LogBook] VALUES
(

''' + @tKey + '''
,''' + @Session_Id + '''
,''' + @Domain_User + '''
,''' + @User_Created + '''
,''' + @Form + '''
,''' + @Event + '''
,''' + REPLACE(@Notes,'''','''''') + '''
,GETDATE()

)
'

--======================================================================
-- PRINT & EXECUTE SQL
--======================================================================

PRINT (@SQL)
EXECUTE (@SQL)

