USE [Appz]
GO
/****** Object:  StoredProcedure [dbo].[Suppressor_No_Rent_V1]    Script Date: 19/08/2025 08:58:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROC [dbo].[Suppressor_No_Rent_V1]

@Start VARCHAR(12)
,@End VARCHAR(12)
,@Client VARCHAR(24)

AS

--==================================================================================================================================
-- DECLARE VARIABLES
--==================================================================================================================================

DECLARE @Database VARCHAR(MAX)
DECLARE @SQL VARCHAR(MAX) = ''

--==================================================================================================================================
-- SET DATABASE
--==================================================================================================================================

SET @Database = (SELECT [Database] FROM Suppressor_Clients WHERE [Description] = @Client)

--==================================================================================================================================
-- CREATE RESULTS TABLE
--==================================================================================================================================

CREATE TABLE TEMP_RESULTS
							(
								[Customer] [VARCHAR](20) NULL
								,[Name][VARCHAR](255) NULL
								,[Email][VARCHAR](100) NULL
								,[Rent][INT] NULL
								,[Opt Out Date][DATE] NULL
							)

--==================================================================================================================================
-- DYNAMIC SQL
--==================================================================================================================================

SET @SQL = @SQL + '
INSERT INTO TEMP_RESULTS

SELECT
			RTRIM(cust.customer) as [Customer]
			,ISNULL(RTRIM(title) + '' '', '''') + ISNULL(RTRIM(initials) + '' '', '''') + ISNULL(RTRIM(full_name), '''') as [Name]
			,RTRIM(email_address) as [Email]
			,cust_gdpr.rent as [Rent]
			,Suppressor.[Opt Out Date]
FROM 
			[SQL-BISCUIT].[' + @Database + '].dbo.cust 
			INNER JOIN [SQL-BISCUIT].[' + @Database + '].dbo.cust_gdpr on cust.customer = cust_gdpr.customer
			INNER JOIN 
			(
				SELECT
							RTRIM(Customer) as [Customer]
							,CAST([DT_Created] as date) as [Opt Out Date]
				FROM 
							[SQL-SSRS].[Appz].dbo.Suppressor_Details 
				WHERE 
							Reason = ''MAILCHANGE''
							AND New_Rent = 0
							AND CAST([DT_Created] as date) >= ''' + @Start + '''
							AND CAST([DT_Created] as date) <= ''' + @End + '''
			) as [Suppressor] on cust.customer = Suppressor.[Customer]
ORDER BY 
			Suppressor.[Opt Out Date]

'

--==================================================================================================================================
-- SHOW RESULTS
--==================================================================================================================================

PRINT(@SQL)
EXECUTE(@SQL)


SELECT
			DISTINCT * 
FROM 
			TEMP_RESULTS

--==================================================================================================================================
-- CLEAN UP
--==================================================================================================================================

DROP TABLE TEMP_RESULTS