USE [Appz]
GO
/****** Object:  StoredProcedure [dbo].[Suppressor_Upate_Mailing_Pref]    Script Date: 19/08/2025 08:58:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO



ALTER PROC [dbo].[Suppressor_Upate_Mailing_Pref]

@tKey VARCHAR(255)
,@Client VARCHAR(255)
,@Customer VARCHAR(48)
,@3rd_Party_Flag VARCHAR(3)
,@Email_Flag VARCHAR(3)
,@User VARCHAR(48)

AS

--===========================================================================================================================================================--
-- DECLARE VARIABLES
--===========================================================================================================================================================--

DECLARE @FROM_CLAUSE VARCHAR(MAX)
DECLARE @Site VARCHAR(12)
DECLARE @SQL_GET NVARCHAR(MAX)
DECLARE @SQL_UPDATE NVARCHAR(MAX)
DECLARE @Client_ID VARCHAR(3)
DECLARE @OG_No_Promote VARCHAR(1)
DECLARE @OG_Mail VARCHAR(1)
DECLARE @OG_Email VARCHAR(1)
DECLARE @OG_Phone VARCHAR(1)
DECLARE @OG_SMS VARCHAR(1)
DECLARE @OG_Survey VARCHAR(1)
DECLARE @OG_Rent VARCHAR(1)
DECLARE @OG_GDPR_Compliant VARCHAR(1)

--===========================================================================================================================================================--
-- SET FROM CLAUSE
--===========================================================================================================================================================--

SET @Site = (SELECT [Site] FROM Suppressor_Clients WHERE [Description] = @Client)
SET @Client_ID = (SELECT [ID] FROM Suppressor_Clients WHERE [Description] = @Client)

SET @FROM_CLAUSE =
(
SELECT
			'[' + RTRIM([Server]) + '].[' + RTRIM([Database]) + '].dbo.'
FROM 
			Suppressor_Clients
WHERE 
			[Description] = @Client
)

--===========================================================================================================================================================--
-- CREATE TEMP TABLE
--===========================================================================================================================================================--

TRUNCATE TABLE Suppressor_Output_Flags

--===========================================================================================================================================================--
-- GET GDPR FLAG DATA
--===========================================================================================================================================================--

SET @SQL_GET = '

INSERT INTO Suppressor_Output_Flags

SELECT 
			RTRIM(no_promote)
			,RTRIM(mail)
			,RTRIM(email)
			,RTRIM(phone)
			,RTRIM(sms)
			,RTRIM(survey)
			,RTRIM(rent)
			,RTRIM(gdpr_compliant)
FROM 
			' + @FROM_CLAUSE + 'cust_gdpr WITH(NOLOCK)
WHERE
			customer = ''' + @Customer + '''

INSERT INTO ' + @FROM_CLAUSE + 'cust_hist VALUES
(
	''' + @tKey + '''
	,''!''
	,GETDATE()
	,''' + @User + '''
	,GETDATE()
	,''' + @Site + '''
	,''GROUP''
	,CAST(GETDATE() as date)
	,CAST(GETDATE() as time)
	,''85''
	,''Suppressor - Mailing Preferences Changed''
	,''' + @Customer + '''
	,NULL
	,NULL
	,''SUP''
	,NULL
	,NULL
	,NULL
	,NULL
	,NULL
	,NULL
	,NULL
	,NULL
	,''' + @User + '''
	,''This customer has had thier mailing preferences changed through the suppressor application.''
)

'


PRINT (@SQL_GET)
EXECUTE (@SQL_GET)

SET	@OG_No_Promote = (SELECT OG_No_Promote FROM Suppressor_Output_Flags)
SET	@OG_Mail = (SELECT OG_Mail FROM Suppressor_Output_Flags) 
SET	@OG_Email = (SELECT OG_Email FROM Suppressor_Output_Flags) 
SET	@OG_Phone = (SELECT OG_Phone FROM Suppressor_Output_Flags) 
SET	@OG_SMS = (SELECT OG_SMS FROM Suppressor_Output_Flags) 
SET	@OG_Survey = (SELECT OG_Survey FROM Suppressor_Output_Flags) 
SET	@OG_Rent = (SELECT OG_Rent FROM Suppressor_Output_Flags) 
SET	@OG_GDPR_Compliant = (SELECT OG_gdpr_Compliant FROM Suppressor_Output_Flags) 

--===========================================================================================================================================================--
-- INSERT THE DATA
--===========================================================================================================================================================--

INSERT INTO Suppressor_Details VALUES 
(
	@tKey  -- BATCH NUMBER
	,GETDATE() -- DATE CREATED
	,@Client_ID -- CLIENT ID
	,@Client -- CLIENT
	,@Customer -- CUSTOMER
	,CASE WHEN ISNULL(@Customer, '') = '' THEN 0 ELSE 1 END -- CUSTOMER FLAG
	,NULL -- NAME
	,NULL -- ADDRESS
	,NULL -- CITY
	,NULL -- POSTCODE
	,NULL -- EMAIL ADDRESS
	,NULL -- TELEPHONE
	,'MAILCHANGE' -- REASON CODE
	,@OG_No_Promote -- OLD NO PROMOTE
	,@OG_Mail -- OLD MAIL
	,@OG_Email -- OLD EMAIL
	,@OG_Phone -- OLD PHONE
	,@OG_SMS -- OLD SMS
	,@OG_Survey -- OLD SURVEY
	,@OG_Rent -- OLD RENT
	,@OG_GDPR_Compliant -- OLD GDPR COMPLIANT
	,@OG_No_Promote -- NEW NO PROMOTE
	,@OG_Mail -- NEW MAIL
	,@Email_Flag -- NEW EMAIL
	,@OG_Phone -- NEW PHONE
	,@OG_SMS -- NEW SMS
	,@OG_Survey -- NEW SURVEY
	,@3rd_Party_Flag -- NEW RENT
	,'1' -- NEW GDPR COMPLIANT
	,@User -- USER CREATED

)


